<div class="container p-4">
    <h2>Multiplex Disponibles:</h2>
    <br>
    <div class="row">
        {{#each multiplexList}}
            <div class="col-md-3">
                <div class="card text-center">
                    <h5 class="card-title">{{nombreMultiplex}}</h5>
                    <div class="card-body">
                       <a href="/multiplex/{{idMultiplex}}/peliculas" class="btn btn-primary">Ver peliculas</a>
                    </div>
                </div>
                <br>
            </div>
        {{/each}}
    </div>
</div>