<div class="container p-4">
    <h2>Peliculas:</h2>
    <br>
    <div class="row">
        {{#each peliculas}}
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="{{portada}}" class="card-img-top" height="370" width="500" alt="{{nombrePelicula}}">
                    <div class="card-body">
                       <a href="/multiplex/{{Multiplex_idMultiplex}}/peliculas/{{idPelicula}}" class="btn btn-primary">Ver Funciones</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>