<link rel="stylesheet" href="css/home.css">

<form action="/" method="POST"> 
    <section class="form-login">
        <h4>Login</h4>
        <input class="controls" type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese su Email">
        <input class="controls" type="password" name="password" id="contraseña"  placeholder="Ingrese su Contraseña">
        <input class="botons" type="submit" value="Iniciar Sesión">
        <p><a href="#">¿Quiero crear una Cuenta?</a></p>
    </section>
</form>


<form action="/" method="POST"> 
    <section class="form-register">
        <h4>Registro</h4>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido">
        <input class="controls" type="text" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Ingrese su Fecha de Nacimiento">
        <input class="controls" type="text" name="telefono" id="telefono" placeholder="Ingrese su Telefono">
        <input class="controls" type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese su Email">
        <input class="controls" type="password" name="password" id="contraseña"  placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con <a href="#"> Terminos y Condiciones</a></p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">¿Ya tengo Cuenta?</a></p>
    </section>
</form>


