* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    background-image: url("../img/imagen.jpg");
    background-size: cover;
}

.form-login{
    position: relative;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: 7px;
    box-shadow:  7px 0 15px 1px black;
}

.form-login h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.form-register  {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: 7px;
    box-shadow:  7px 0 15px 1px black;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    background: #24303c;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 16px;
}

.form-register  p{
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.botons{
    background: #1f53c5;
    border: none;
    padding: 1px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}