.form-login{
    position: relative;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    color: white;
    box-sizing: 7px;
    box-shadow:  7px 0 15px 1px black;
}

.form-login h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.form-register  {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    color: white;
    box-sizing: 7px;
    box-shadow:  7px 0 15px 1px black;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    background: #24303c;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid #1f53c5;
    font-size: 16px;
    width: 100%;
}

p {
    margin-top: 5%;
}

.form-register  p{
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.btn-outline,
.btn-outline:hover {
  border-color: #1f53c5;
  background: #1f53c5;
  color: white;
}

.btn-outline {
  border-radius: var(--border-radius);
}